* {
  font-family: "Epilogue", sans-serif;
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
}
a:hover {
  color: blueviolet;
}

ul {
  display: flex;
}
body {
  margin: 0;
  background-color: #3b3b3b;
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 100px;
  justify-content: flex-start;
  top: 0px;
  width: 100vw;
  height: 50px;
}
header .list_icon {
  visibility: hidden;
}
.logo_container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
  position: fixed;
}
.logo_container .logo_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo_span {
  font-size: 20px;
  color: black;
}
.Container_links {
  position: fixed;
  right: 20px;
}
.header_ul {
  gap: 20px;
}
.header_ul_li a {
  color: black;
}
section {
  margin-left: 20px;
  margin-right: 10px;
}
#brief {
  display: flex;

  color: white;
  height: 500px;
  justify-content: space-around;
}
#brief .infos {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
#brief span {
  width: 200px;
  height: 2px;
  display: block;
  background-color: white;
}

#brief .me {
  width: 70%;
  height: 70%;
  border-radius: 15px;
}
.infos img {
  width: 5vw;
}
.Me_div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#Latest_work {
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  margin-top: 30px;
  display: flex;
  height: auto;
  gap: 3%;

  flex-wrap: wrap;
  justify-content: center;
}
#Latest_work .header_Letest {
  position: absolute;
  margin-bottom: 10px;
}
#Latest_work .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  height: 40%;
  align-items: center;
  gap: 10px;
  text-align: center;
  border-radius: 5%;
  background-color: #3b3b3b;
  padding: 10px;
  color: white;

  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
  animation: fadeInOut 1s 
}
@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
#Latest_work .card img {
  width: 100%;
  height: 70%;
  padding: 10px;
}
#Latest_work .cards {
  background-color: white;
  height: auto;
  display: flex;
  margin-top: 10px;
  gap: 21px;
  flex-wrap: wrap;
  justify-content: center;
}
#Latest_work .title {
  width: 100%;
  margin-bottom: 39px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
#Connect {
  background-color: white;
  height: 100px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

#Connect .Socials {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
#Connect .Socials a {
  text-decoration: none;
  color: #3b3b3b;
}
i {
  font-size: 30px;
}
#Connect .title span {
  font-size: 30px;
}

@media (max-width: 646px) {
  .Container_links {
    top: 47px;
    background-color: black;
    padding-right: 10px;
    border-radius: 5%;
    visibility: hidden;
  }
  .header_ul_li a {
    color: white;
  }
  .Container_links ul {
    flex-direction: column;
  }

  header .list_icon {
    position: fixed;
    right: 20px;
    visibility: visible;
  }

  #brief {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 100px;
  }

  #Latest_work .cards .card {
    width: 40%;
  }
}
@media (min-width: 777px) {
  #Latest_work .cards .card {
  }
}
